{{#products}}
    <div class="pruduct-snapshot">
        {{> productImg}}
        {{> productName}}
        {{> productStock }}
        {{> productShipping }}
        {{> productPrice }}
        {{> productMoreBtn}}
    </div>
{{/products}}